
<div class ="class1" >

  <div class = "center">
    <mat-card class="card" >
      <mat-card-title class="cardTitle">Find Location</mat-card-title>
      <form class="card-form">
        <div>
          <mat-form-field class="field-size">
            <input matInput placeholder="Street*" >
          </mat-form-field>
          <mat-form-field class="field-size">
            <input matInput placeholder="City*" >
          </mat-form-field>
          <mat-form-field class="field-size">
            <input matInput placeholder="State*" >
          </mat-form-field>
          <button class = "exc-button" mat-fab extended>
            Find Nearest Recycle Center
          </button>
        </div>
      </form>
    </mat-card>
  </div>

</div>

