<mat-tab-group  >
  <mat-tab label="Sign In">
    <div class="center">
      <mat-card class="card" >

        <mat-card-title class="cardTitle">Sign In</mat-card-title>
        <form class="card-form">


          <mat-form-field class="field-size">
            <input matInput placeholder="Username*" >
          </mat-form-field>
          <mat-form-field class="field-size">
            <input matInput placeholder="Password*" >
          </mat-form-field>
          <button class = "exc-button" mat-fab extended>
            Sign Up
          </button>
        </form>
      </mat-card>
    </div>

  </mat-tab>

  <mat-tab label="Create Account">
    <div class="center">
      <mat-card class="card" >
        <mat-card-title class="cardTitle">Sign Up</mat-card-title>
        <form class="card-form">
          <mat-form-field class="field-size">
            <input matInput placeholder="Name*" >
          </mat-form-field>
          <mat-form-field class="field-size">
            <input matInput placeholder="Username*" >
          </mat-form-field>
          <mat-form-field class="field-size">
            <input matInput placeholder="Password*" >
          </mat-form-field>
          <button class = "exc-button" mat-fab extended>
            Sign Up
          </button>
        </form>
      </mat-card>
    </div>

  </mat-tab>
</mat-tab-group>
