
<div class = "center">
  <div class ="container">
    <div class ="shrinkDiv">
      <h1 class = "slogan">A Modern Way </h1>
      <h1 class = "slogan">To Recycle &</h1>
      <h1 class = "slogan">Save Time</h1>
      <h2 class = "summary" >Utilize our platform to find the nearest recycling bins near you!</h2>
      <button class = "homeButton1" routerLink="/about-us-component" mat-fab extended>
        Learn More About Us
      </button>
      <button class = "homeButton2" routerLink="/searchpg-component" mat-fab extended>
        Get Started
      </button>
    </div>
    <div class ="shrinkDiv">
      <img class = "raccoonL" src="../assets/Recycle_Raccoon-3.png" alt="image">
    </div>


  </div>
</div>


