
<div class ="center" >
  <div class ="container">
    <div class ="shrinkDiv">
      <h1 class="slogan">What is Recycle Racoon?</h1>
      <h2 class="summary">
        Holding a recyclable bottle, container, or want to let people know where to recycle?
        Recycle Racoon lets you help keep your community green by providing precise google maps data
        that will guide you to the nearest recycling can.
      </h2>
      <h1 class="slogan">Our Problem:</h1>
      <h2 class="summary">
        As college students, we on the Recycle Racoon development team go through our fair share of
        plastic bottles, aluminum foil, and plastic utensils. We wanted to tackle the issue of
        taking that recycleable waste out of your backpack, and on its route to the nearest recycling center
        It's never easy to find those pesky recycling cans around your city, campus, or workplace so our
        application will show you what options are nearby.
      </h2>
      <h1 class="slogan">Sustainability:</h1>
      <h2 class="summary">
        We set out to tackle some of the United Nations Sustainability goals. Recycle Racoon targets
      </h2>
    </div>
  </div>
</div>

