
<div class ="center" >
  <div class ="container">
    <div class ="shrinkDiv">
      <h1 class="slogan">What is Recycle Racoon?</h1>
      <h2 class="summary">
        Holding a recyclable bottle, container, or want to let people know where to recycle?
        Recycle Racoon lets you help keep your community green by providing precise google maps data
        that will guide you to the nearest recycling can.
      </h2>
      <h1 class="slogan">Our Problem:</h1>
      <h2 class="summary">
        As college students, we on the Recycle Racoon development team go through our fair share of
        plastic bottles, aluminum foil, and plastic utensils. We wanted to tackle the issue of
        taking that recycleable waste out of your backpack, and on its route to the nearest recycling center
        It's never easy to find those pesky recycling cans around your city, campus, or workplace so our
        application will show you what options are nearby. We aim to educate people on their environment
        and show places to recycle they may not have noticed before
      </h2>
      <h1 class="slogan">Why trust our Data?</h1>
      <h2 class="summary">
        Our data is user generated. Thats right, all you have to do is create an account and you can start adding
        recycling cans to our database. If you see a can, just log it in our map, provide a brief description, let
        other users know what they can recycle there and boom! You have helped out your community!
        If you log a data point thats not exact, other users can edit the where that point is, or flag it as not accurate.
        Having an active userbase means our user generated data is as accurate as possible.
      </h2>
      <h1 class="slogan">Sustainability:</h1>
      <h2 class="summary">
        We set out to tackle some of the United Nations Sustainability goals. Recycle Racoon targets goal 12.5
        and 12.8. These goals aim to help limit waste production, and educate the public on living sustainable lifestyles.
        Our app makes recycling more accessible, no matter where you are.
      </h2>
      <h3 class="summary">
        See the UN's Sustainability website for more specific details
        <br>
        - 12.5: https://sdg-tracker.org/sustainable-consumption-production#12.5
        <br>
        - 12.8: https://sdg-tracker.org/sustainable-consumption-production#12.8
      </h3>
      <h1 class="slogan">Who are we?</h1>
      <h2 class="summary">
        The RecycleRaccoon team is comprised of five Rochester Institute of Technology computing majors
        working for the Google Student Developer Club. Project development started in January of 2023,
        and completed in March 2023. Heres our team:
        <h3 class="people">
          Greg Lynskey: Project Lead and Senior Backend Engineer
          <br>
          Mackenzie Wade: Senior Frontend Engineer
          <br>
          Camilla Miquelina: Project Manager
          <br>
          Helen Lopez-Santos: Junior Frontend Engineer
          <br>
          Alexander Blair: Logistics Manager
        </h3>
        Thank you for checking our our product!
      </h2>
    </div>
  </div>
</div>

