.slogan{
  font-weight: bold;
  font-size: 65px;
  margin-bottom: 5%;
  padding-top: 10%;
  padding-left: 10%;
}
.center{
  padding-top: 0%;
}

.shrinkDiv{
  width: 60%
}

.people{
  padding-top: 5%;
  margin-left:5%;
  padding-bottom: 2%;
}
.homeButton1{
  margin-left: 10%;
}

.homeButton2{
  margin-left: 20%;
}

.summary{
  margin-left: 10%;
}
.container {
  display: flex;
  flex-direction: row;
}

.raccoonL{
  padding-top: 20%;
  position: fixed;
  bottom: 0px;
  width: 100%;
}

